<% layout("layout")-%>
<div class="container pt-4">
<section>
    <div class="container">
        <a href="/user/<%=currentUser._id%>/history" class="btn btn-info btn-sm float-right">View History</a>
        <h2>My Tickets</h2>
        <hr>
        <p class="new-ticket mb-4">Add New Ticket: <a href="/user" class="btn btn-success btn-lg">Add New Ticket</a></p>
        <% if(complaints.length==0){ %>
            <div class="row">
                <div style="margin:200px auto;">
                    <img src="/images/feather.svg" alt="" class="about-icons" style="margin-left: 60px;">
                    <h1>No Tickets Yet.</h1>
                </div> 
            </div>
        <% } %>
        <div class="row">
            <% complaints.forEach(function(complaint){ %>
            <div class="col-sm-12 col-xs-12 col-lg-4">
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <% if(complaint.status=="Not Assigned Yet"){ %>
                          <div class="status-circle float-right" id="Pending"></div>
                          <% }else if(complaint.status=="Pending"){ %>
                          <div class="status-circle float-right" id="Pending"></div>
                          <% }else if(complaint.status=="Open"){ %>
                          <div class="status-circle float-right" id="Open"></div>
                          <% }else if(complaint.status=="Closed"){ %>
                          <div class="status-circle float-right" id="Closed"></div>
                          <% } %>
                        <h2>Ticket: </h2>
                        <hr>
                        <h3 class="card-title"><%=complaint.name%></h3>
                        <em
                            ><p id="createdAt"><strong>Created On:</strong> <%=moment(complaint.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a");%></p></em
                        >
                        <em><p class="card-text" id="description"><%-complaint.desc.substring(0,30)%>....</p></em>
                        <hr />
                        <h6 class="card-title">Status:</h6>
                        <span>
                            <% if(complaint.status=="Not Assigned Yet"){ %>
                            <p>Not Assigned Yet.</p>
                            <% }else if(complaint.status && complaint.status=="Pending"){ %>
                            <p><%=complaint.status%></p>
                            <% }else if(complaint.status && complaint.status=="Open"){ %>
                            <p><%=complaint.status%></p>
                            <% }else if(complaint.status && complaint.status=="Closed"){ %>
                            <p><%=complaint.status%></p>
                            <% } %>
                        </span>
                        <a href="/user/<%=complaint._id%>/show" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        </div>
</section>
</div>
