<%-include("../partials/header")%>
<section>
<div class="container">
<h1 class="mb-3">Ticket Info</h1>
<hr />
<div class="row" style="margin-bottom: 100px;">
    <div class="col-sm-12 col-md-4">
        <div class="col-12" id="user-info">
            <h2 class="user-details">User Details:</h2>
            <img
                class="img-fluid"
                id="user-image"
                src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="user-profile-picture"
                id="profile-picture"
            />
            <div class="details">
                <ul>
                    <li><strong>Username: </strong><a href="">@<%=complaint.author.id.username%></a></li>
                    <li><strong>Name: </strong><%=complaint.author.id.firstName%> <%=complaint.author.id.lastName%></li>
                    <li><strong>Email: </strong></li>
                    <li><a href="<%=complaint.author.id.email%>"><%=complaint.author.id.email%></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="col-12" id="user-info">
            <h4 class="float-right text-center"><%=complaint.priority%></h4>
            <h2 class="user-details" style="text-align: left;">Ticket Information:</h2>
            <hr class="style-one" />
            <div class="details">
                <div style="float: left;">
                    <ul>
                        <li><strong class="ticket-details">Title/Subject:</strong></li>
                        <li><strong class="ticket-details">Type:</strong></li>
                        <li><strong class="ticket-details">Priority:</strong></li>
                        <li><strong class="ticket-details">Created At:</strong></li>
                        <li><strong class="ticket-details">Ticket ID/Ref. No:</strong></li>
                        <li><strong class="ticket-details">Status:</strong></li>
                        <li><strong class="ticket-details">Assigned To:</strong></li>
                        <li><strong class="ticket-details">Opened At:</strong></li>
                        <li><strong class="ticket-details">Closed At:</strong></li>
                    </ul>
                </div>
                <div style="float: right;">
                    <ul>
                        
                        <li><%=complaint.name%></li>
                        <li><%=complaint.type%></li>
                        <li>
                            <%=complaint.priority%>
                           <% if(complaint.priority==='P-01') { %>
                              (High Priority)
                           <% } %>
                        </li>
                        <li><%=moment(complaint.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a")%></li>
                        <li>
                            <% if(complaint.type==='Service Request'){ %>
                                SR-<%=complaint.ticketId%>
                            <% }else{ %>
                                IR-<%=complaint.ticketId%>
                            <% } %>
                        </li>
                        <!-- TICKET STATUS LIST ITEM STARTS HERE -->
                        <li>
                        <% if(!complaint.status){ %>
                             Not Assigned Yet.
                        <% }else if(complaint.status){ %>
                            <%=complaint.status%>
                        <% } %>
                        </li>
                        <!-- ASSIGNED TO LIST ITEM STARTS HERE -->
                        <li>
                        <% if(!complaint.assignedTo){ %>
                              Not Assigned Yet.
                        <% }else if(complaint.assignedTo){ %>
                           <%=complaint.assignedTo.firstName%> <%=complaint.assignedTo.lastName%>
                        <% } %>
                        </li>
                        <!-- OPENED AT LIST ITEM STARTS HERE -->
                        <li>
                        <% if(complaint.reviewStartedAt){ %>
                            <%=moment(complaint.reviewStartedAt).format("dddd, MMMM Do YYYY, h:mm:ss a")%>
                        <% }else{ %>
                            Not Opened Yet.
                        <% } %>
                        </li>
                        <!-- CLOSED AT LIST ITEM STARTS HERE -->
                        <li>
                        <% if(complaint.status==="Closed"){ %>
                            <%=moment(complaint.reviewClosedAt).format("dddd, MMMM Do YYYY, h:mm:ss a")%>
                        <% }else if(complaint.status==="Open"||"Re-Open"||"Pending"){ %>
                            The Ticket is in Progress..
                        <% }else{ %>
                            --  
                        <% } %>
                        </li>

                    </ul>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <form action="/support/<%=complaint._id%>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="" class="ticket-details">Select Status:</label>
                            <select class="form-control" name="form[status]" id="statusSelect" onchange="emailBox(value)">
                                <option value="">--Select Status--</option>
                                <option value="Open">Open</option>
                                <option value="Pending">Pending</option>
                                <option value="Re-Open">Re-Open</option>
                                <option value="Closed">Closed</option>
                            </select>
                            <p id="status-warning"><em>*Note: Submitting the status will automatically notify the user</em></p>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6">
                    <form action="/support/<%=complaint._id%>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="" class="ticket-details">Assign To:</label>
                            <select class="form-control" name="form[assignedTo]" id="statusSelect">
                                <option value="">--Assign To--</option>
                                <% admin.forEach(function(user){ %>
                                      <option value="<%=user.id%>"><%=user.firstName%></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- Send Email to user when needed -->
            <div class="row">
                <div class="col-md-12">
                <button class="btn btn-sm btn-danger ml-2" type="button" data-toggle="collapse" data-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
                    Send Email
                 </button>
                 <div class="collapse" id="collapseEmail">
                <div class="card card-body">
                   
                        <form action="/email" method="POST">
                           <div class="form-group">
                               <label for="email-from">From:</label>
                               <input type="text" class="form-control" name="from" id="email-from">
                           </div>
                           <div class="form-group">
                               <label for="email-to">To:</label>
                               <input type="text" class="form-control" name="to" id="email-to" value="<%=complaint.author.id.email%>" disabled>
                           </div>
                           <div class="form-group">
                               <label for="email-subject">Subject:</label>
                               <input type="text" class="form-control" name="subject" id="email-subject">
                           </div>
                           <div class="form-group">
                               <label for="email-text">Text:</label>
                               <textarea name="text" id="email-text" cols="30" rows="10" class="form-control"></textarea>
                           </div>
                           <input type="submit" name="" id="">
                        </form>  
                        </div>
                </div>
            </div>
            </div>

            <h3 class="ticket-desc-header">Description:</h3>
            <hr>
            <div>
               <p id="ticket-desc"><%=complaint.desc%></p>
            </div>
            <h3 class="ticket-desc-header">Ticket Summary:</h3>
            <hr>
            <div class="details">
                <div style="float: left;">
                    <ul>
                        <li><strong class="ticket-details">Response Time:</strong></li>
                        <li><strong class="ticket-details">Resolve Time:</strong></li>
                    </ul> 
                </div>
                <div style="float: right;">
                     <ul>
                         <li><%=complaint.responseTime%></li>
                         <li><%=complaint.resolveTime%></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<script>
    function emailBox($i){
        var statusSelect=document.getElementById("statusSelect");
        var emailBox=document.getElementById("collapseEmail");
        var selectedValue = statusSelect.options[statusSelect.selectedIndex].value;
        if(selectedValue=='Pending'){
        emailBox.style.display="block";
        }else{
        emailBox.style.display="none";
        }
    }
</script>
<%-include("../partials/footer")%>
