<%- include("../partials/header.ejs") %>
<div class="row">
    <% complaint.forEach(function(complaint){ %>
    <div class="col-sm-12 col-xs-12 col-lg-4">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <strong>Query: </strong>
                <% if(complaint.status=="Pending"){ %>
                <div class="status-circle" id="Open"></div>
                <% }else if(complaint.status=="Open"){ %>
                <div class="status-circle" id="Waiting-List"></div>
                <% }else if(complaint.status=="Close"){ %>
                <div class="status-circle" id="Closed"></div>
                <% } %>
            </div>
            <div class="card-body">
                <h3 class="card-title"><%=complaint.name%></h3>
                <em
                    ><p id="createdAt"><strong>Created On:</strong> <%=new Date(complaint.createdAt).toLocaleDateString('en')%></p></em
                >
                <p class="card-text" id="description"><%=complaint.desc%></p>
                <hr />
                <h6 class="card-title">Status:</h6>
                <span>
                    <% if(!complaint.status){ %>
                    <p>Not Assigned Yet.</p>
                    <% }else if(complaint.status && complaint.status=="Open"){ %>
                    <p><%=complaint.status%></p>
                    <% }else if(complaint.status && complaint.status=="Pending"){ %>
                    <p><%=complaint.status%></p>
                    <% }else if(complaint.status && complaint.status=="Close"){ %>
                    <p><%=complaint.status%></p>
                    <% } %>
                </span>
                <a href="/support/<%=complaint._id%>" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<!--ROW ENDS HERE-->

<%- include("../partials/footer.ejs") %>
