<% layout("layout")-%>
<div class="container pt-4">
    <h2 style="font-family: 'Roboto',sans-serif;"><%=company.name%></h2>
    <p><em><%=company.type%></em></p>
    <div class="float-right ml-2">
            <select name="filter-search" id="filter-search" onclick="filter(value)" class="btn btn-info btn-sm">
                <option>Filter Tickets</option>
                <option value="All">All</option>
                <option value="Recent">Last 24 hours</option>
            </select>
      </div>
    <a href="/support-history/<%=company._id%>" class="btn btn-info btn-sm float-right">View History</a>
    <h3 style="font-family: 'Roboto',sans-serif;">All Tickets:</h3>
    <hr>
    
    <!-- Define EJS Function to display all tickets -->
    <% function showTickets(complaint){ %>
        <div class="col-sm-12 col-xs-12 col-lg-4">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <% if(complaint.status=="Not Assigned Yet"){ %>
                      <div class="status-circle float-right" id="Pending"></div>
                      <% }else if(complaint.status=="Pending"){ %>
                      <div class="status-circle float-right" id="Pending"></div>
                      <% }else if(complaint.status=="Open"){ %>
                      <div class="status-circle float-right" id="Open"></div>
                      <% }else if(complaint.status=="Closed"){ %>
                      <div class="status-circle float-right" id="Closed"></div>
                      <% } %>
                    <h2>Ticket:</h2>
                    <strong><p>
                            <% if(complaint.type==='Service Request'){ %>
                                SR-<%=complaint.ticketId%>
                            <% }else{ %>
                                IR-<%=complaint.ticketId%>
                            <% } %>
                    </p></strong>
                    <hr>
                    <h3 class="card-title"><%=complaint.name%></h3>
                    <em
                        ><p id="createdAt"><strong>Created On:</strong> <%=moment(complaint.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a");%></p></em
                    >
                    <em><p class="card-text" id="description"><%-complaint.desc.substring(0,30)%>....</p></em>
                    <hr />
                    <p><strong>Priority: </strong><br><%=complaint.priority%></p>
                    <h6 class="card-title">Status:</h6>
                    <span>
                        <% if(complaint.status=="Not Assigned Yet"){ %>
                        <p>Not Assigned Yet.</p>
                        <% }else if(complaint.status && complaint.status=="Pending"){ %>
                        <p><%=complaint.status%></p>
                        <% }else if(complaint.status && complaint.status=="Open"){ %>
                        <p><%=complaint.status%></p>
                        <% }else if(complaint.status && complaint.status=="Closed"){ %>
                        <p><%=complaint.status%></p>
                        <% } %>
                    </span>
                    <a href="/support/show/<%=complaint._id%>" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
    <% } %> <!--Display Tickets function ends here-->

<section id="recent-tickets">
    <div class="row">
        <% if(recentComplaints.length==0){ %>
            <div style="margin:150px auto;">
                <img src="/images/feather.svg" alt="" class="about-icons" style="margin-left: 60px;">
                <h1>No Tickets Yet.</h1>
            </div>
         <% } %>
        <% recentComplaints.forEach(showTickets) %> 
    </div>
    <% pagination(recentPages) %>
</section>
    
<section id="all-tickets">
<div class="row">
    <% if(complaints.length==0){ %>
        <div style="margin:150px auto;">
            <img src="/images/feather.svg" alt="" class="about-icons" style="margin-left: 60px;">
            <h1>No Tickets Yet.</h1>
        </div>
     <% } %>
    <% complaints.forEach(showTickets) %>
</div>
<% pagination(allPages) %>
</section>

<% function pagination(pages){ %>
<div class="mt-4 mb-4">
    <nav aria-label="Page navigation example">
      <% if(pages && pages>0){ %>
      <ul class="pagination justify-content-center">
        <% if(current==1){ %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
        <% }else{ %>
           <li class="page-item"><a href="/support" class="page-link">First</a></li>
        <% } %>
        <% if(current==1){ %>
          <li class="page-item disabled"><a class="page-link"> << </a></li>
        <% }else{ %>
           <li class="page-item"><a class="page-link" href="/support?page=<%= Number(current) - 1 %>"> << </a></li>
        <% } %>

        <% var i=(Number(current)>5 ? Number(current)-4:1); %>
        <% if(i != 1){ %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for(;i<(Number(current)+4) && i<=pages;i++){ %>
            <% if(i==current){ %>
               <li class="page-item active"><a class="page-link"><%=i%></a></li>
            <% }else{ %>
               <li class="page-item"><a class="page-link" href="/support?page=<%= i %>"><%=i%></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
        <% } %>

        <% if(current==pages){ %>
            <li class="page-item disabled"><a class="page-link">>></a></li>
        <% }else{ %>
            <li class="page-item"><a class="page-link" href="/support?page=<%= Number(current) + 1 %>">>></a></li>
        <% } %>

        <% if(current==pages){ %>
           <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% }else{ %>
           <li class="page-item"><a class="page-link" href="/support?page=<%= pages %>">Last</a></li>
        <% } %>
      </ul>
    <% } %>
    </nav>
</div>
<% } %>
<!--ROW ENDS HERE-->


