<% layout("layout") -%>
<div class="container">
   <table class="table table-bordered">
     <thead class="thead-dark">
         <tr>
           <th class="scope">Date of Creation</th>
             <th class="scope">Title</th>
             <th class="scope">Ticket ID/Ref. No</th>
             <th class="scope">More Info.</th>
         </tr>
     </thead>
     <tbody>
         <% complaints.forEach(function(complaint){ %>
            <tr>
              <td><%=complaint.createdAt%></td>
              <td><%=complaint.name%></td>
              <td><%=complaint.type%> - <%=complaint.ticketId%></td>
              <td><a href="/support/<%=complaint._id%>" class="btn btn-info btn-sm">View Ticket</a></td>
            </tr>
         <% }) %>
     </tbody>
   </table>
</div>